ARKWAIFU_S3_ENDPOINT_URL=http://127.0.0.1:59000

ARKWAIFU_S3_BUCKET=arkwaifu

ARKWAIFU_S3_ACCESS_KEY_ID=arkwaifu
ARKWAIFU_S3_SECRET_ACCESS_KEY=arkwaifu-dev-secret

ARKWAIFU_S3_PATH_STYLE=true

ARKWAIFU_ARCHIVE_S3_ENDPOINT_URL=http://127.0.0.1:59000
ARKWAIFU_ARCHIVE_S3_REGION=us-east-1
ARKWAIFU_ARCHIVE_S3_BUCKET=arkwaifu
ARKWAIFU_ARCHIVE_S3_PATH_STYLE=true
